<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
  <property name="hibernate.connection.password">wB6*nE9!</property>
  <property name="hibernate.connection.url">jdbc:mysql://sql4.freemysqlhosting.net/sql425649</property>
  <property name="hibernate.connection.username">sql425649</property>
  <property name="hibernate.default_schema">database</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <mapping class="com.gwt.shared.task.Task"/>
 </session-factory>
</hibernate-configuration>
